In [7]:
import pandas as pd
import numpy as np
from functions import functions as utils2

In [8]:
path='data/'

In [9]:
df_test =utils2.reduce_memory_usage( pd.read_csv(path+'application_test.csv'))
 
df_bureau =utils2.reduce_memory_usage( pd.read_csv(path+'bureau.csv'))
df_pos_cash_balance = utils2.reduce_memory_usage(pd.read_csv(path+'POS_CASH_balance.csv'))
df_credit_card_balance=utils2.reduce_memory_usage(pd.read_csv(path+'credit_card_balance.csv'))

df_previous_application = utils2.reduce_memory_usage(pd.read_csv(path+'previous_application.csv'))
df_installments_payments = utils2.reduce_memory_usage(pd.read_csv(path+'installments_payments.csv'))

Memory usage of dataframe is 45.00 MB
Memory usage after optimization is: 14.60 MB
Decreased by 67.6%
Memory usage of dataframe is 222.62 MB
Memory usage after optimization is: 112.95 MB
Decreased by 49.3%
Memory usage of dataframe is 610.43 MB
Memory usage after optimization is: 238.45 MB
Decreased by 60.9%
Memory usage of dataframe is 673.88 MB
Memory usage after optimization is: 289.33 MB
Decreased by 57.1%
Memory usage of dataframe is 471.48 MB
Memory usage after optimization is: 309.01 MB
Decreased by 34.5%
Memory usage of dataframe is 830.41 MB
Memory usage after optimization is: 311.40 MB
Decreased by 62.5%

In [10]:
df_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [34]:
def client_file(SK_ID_CURR):
    df_test1=df_test[df_test['SK_ID_CURR']==SK_ID_CURR]
    df_test1.to_csv('test/1/df_main.csv',index=False)


    df_bureau1=df_bureau[df_bureau['SK_ID_CURR']==SK_ID_CURR]
    df_bureau1.to_csv('test/1/df_bureau.csv',index=False)



    df_pos_cash_balance1=df_pos_cash_balance[df_pos_cash_balance['SK_ID_CURR']==SK_ID_CURR]
    df_pos_cash_balance1.to_csv('test/1/df_pos_cash_balance.csv',index=False)


    df_credit_card_balance1=df_credit_card_balance[df_credit_card_balance['SK_ID_CURR']==SK_ID_CURR]
    df_credit_card_balance1.to_csv('test/1/df_credit_card_balance.csv',index=False)



    df_previous_application1=df_previous_application[df_previous_application['SK_ID_CURR']==SK_ID_CURR]
    df_previous_application1.to_csv('test/1/df_previous_application.csv',index=False)


    df_installments_payments1=df_installments_payments[df_installments_payments['SK_ID_CURR']==SK_ID_CURR]
    df_installments_payments1.to_csv('test/1/df_installments_payments.csv',index=False)

In [35]:
client_file(100001)